/* Main */

body {
  background-color: #6f4e37;
}

header {
  background-color: #d2a679;
  border: 1px solid #3e2723;
  margin: 10px;
  border-radius: 10px;
}

nav .nav-link.active {
  background-color: #f5f5dc !important;
}

main {
  background-color: #f5f5dc;
  border: 1px solid #3e2723;
  margin: 10px;
  padding: 10px;
  padding-bottom: 5vh;
  border-radius: 10px;
}

footer {
  background-color: #c1440e;
  border: 1px solid #3e2723;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin: 30px;
  color: #3e2723;
}

/* Home Page */

.information p {
  margin: 50px;
}

/* Gallery Page Specific */

.gallery-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
  justify-content: space-evenly;
}

.gallery-grid figure {
  background-color: black;
  border: 5px solid black;
  color: gold;
  border-radius: 35px;
  overflow: hidden;
}

.gallery-grid figure:hover {
  border-color: gray;
  background-color: gray;
  border-radius: 15%;
}

.gallery-grid figcaption {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gallery-grid img {
  width: 100%;
}

.gallery-grid a {
  text-decoration: none;
  color: gold;
}

.lb-image {
  height: 25vh !important;
  width: 25vh !important;
}

.carousel {
  background-color: black;
  border: 5px solid black;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.75);
  color: gold;
  border-radius: 100px;
  padding: 20px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Events */

iframe {
  border: solid 1 px #777;
  width: 80vw;
  height: 600px;
}

/* Media Queries */

@media screen and (min-width: 772px) {
  .gallery-grid {
    grid-template-columns: 49% 49%;
  }

  .gallery-grid figure {
    border-radius: 25%;
    font-size: 12px;
  }

  .lb-image {
    height: 300px !important;
    width: 300px !important;
  }
}

@media screen and (min-width: 992px) {
  .gallery-grid {
    grid-template-columns: 32% 32% 32%;
  }

  .gallery-grid figure {
    border-radius: 10%;
    font-size: 25px;
  }

  .lb-image {
    height: 400px !important;
    width: 400px !important;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-grid {
    grid-template-columns: 24% 24% 24% 24%;
  }

  .gallery-grid figure {
    border-radius: 0%;
    font-size: 25px;
  }

  .lb-image {
    height: 500px !important;
    width: 500px !important;
  }
}

@media (prefers-color-scheme: dark) {
  .gallery-grid figure {
  }
}
