body {
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

a {
  color: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

p {
  font-size: 25px;
  font-family: Arial, sans-serif;
}

img {
  width: 100%;
}

p {
  text-align: center;
}

div img {
  width: 100%;
  max-height: 100vh;
  display: block;
  border: 5px solid blue;
  border-radius: 25px;
}

div {
  display: block;
  width: 95vw;
  margin: 5px;
  padding: 2px;
}

@media screen and (min-width: 772px) {
  div img {
    max-height: 30vh;
  }
  div {
    display: inline-block;
    width: 45vw;
  }
}

@media screen and (min-width: 998px) {
  div img {
    max-height: 30vh;
  }
  div {
    display: inline-block;
    width: 30vw;
  }
}
